<section id="folio" class="section-folio">
  <div class="title-folio">
    <div class="reveal-holder">
      <div class="reveal-block right" data-aos="reveal-right"></div>
        <h1 >RÉALISATIONS<strong>.</strong></h1>
        <%# if current_user.admin == true %>
          <%#= link_to " + Ajouter un film", new_admin_movie_path %>
        <%# end %>
    </div>
  </div>
  <p class="p-folio">Quelques exemples de nos réalisations à découvrir</p>
  <div class="options">
    <% @categories.each do |cat| %>
      <div class="option" style="background-image:url(<%= image_path cat.photo %>)">
        <!-- <div class="option" style="--optionBackground:url(<%= cat.photo %>);"> -->
          <div class="label">
            <div class="icon">
              <%= image_tag(cat.icon, class:"search") %>
             </div>
             <div class="info">
              <%= link_to category_path(cat), class:"link-card" do  %>
                <div class="main"><%= cat.name %></div>
              <% end %>
             </div>
          </div>
        </div>
    <% end %>
  </div>
</section>
