<footer id="footer">
  <div class="title-footer">
    <h1>RETROUVES NOUS SUR</h1>
  </div>
  <div class="footer-icon">
    <div class="icondiv">
      <a href="https://www.youtube.com/channel/UCvhSt-lF8srbLr7BgJxmcjA" target="_blank" alt="dibelairvideo">
       <%= image_tag'youtube.png',class: "icon" %>
      </a>
    </div>
    <div class="icondiv">
      <a href="https://instagram.com/dibelairvideo?igshid=179vo6sdb0agu" target="_blank" alt="dibelairvideo">
        <%= image_tag'instagram.png',class: "icon" %>
      </a>
    </div>
    <div class="icondiv">
      <a href="https://www.facebook.com/dibelairvideo/" target="_blank" alt="dibelairvideo">
        <%= image_tag'facebook.png',class: "icon" %>
      </a>
    </div>
    <div class="icondiv">
      <a href="https://vm.tiktok.com/Je9eDDU/" target="_blank" alt="dibelairvideo">
        <%= image_tag'tik-tok.png',class: "icon" %>
      </a>
    </div>
  </div>
</footer>
<div class="rights-content">
  <div class="right">
    <p>© Copyright 2020 Dibel'airVideo. Tous droits réservés.</p>
  </div>
  <!-- <div class="legal"> -->
    <%= link_to "Mentions Légales", pages_mentions_legales_path, class: "legal"%>

  <!-- </div> -->
</div>
