<nav id="navMenu" class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-custom navbar-fixed-top">

  <div class="navbar-header">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'logocarnationcc.png', class: "nav-logo"%>
    <% end %>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="list-nav">
      <li><%= link_to "Acceuil",root_path, class:"effect-underline"%></li>
      <li><%= link_to "Services",root_path, class:"effect-underline"%></li>
      <li><%= link_to "Portfolio",root_path, class:"effect-underline"%></li>
      <li><%= link_to "À Propos",root_path, class:"effect-underline"%></li>
      <li><%= link_to "Contact",root_path, class:"effect-underline"%></li>
      <li>
        <% if admin_signed_in? %>
          <%= link_to destroy_admin_session_path, class: "logout", method: :delete do %>
            <button class="btn-sign-out">
              <%= image_tag 'logout.png', class: "nav-logout"%>
            </button>
          <% end %>
        <% else %>
        <% end %>
      </li>
    </ul>
  </div>

  <a id="dotsMenu" class="btn menu" data-target="#modalNavigation" data-toggle="modal">
    <%= image_tag 'menu.png', class: "open-menu"%>
  </a>
</nav>

<div class="modal fade" id="modalNavigation" role="dialog"  aria-hidden="true">
  <%# BUTTON CLOSE %>
  <a id="dotsMenuClose" class="btn menu active" data-target="#modalNavigation" data-toggle="modal" aria-label="Close" class="close" data-dismiss="modal">
    <%= image_tag 'error.png', class: "close-menu"%>
  </a>
  <%# MODAL %>
  <div class="modal-dialog">
    <div class="modal-content" role="document">
      <ul id="menuModal" class="list-group text-center">
        <%# LIST %>
        <hr class="top">
          <%= link_to "Acceuil",root_path, class:"nav-link list-group-item menu-item"%>
          <%= link_to "Services",root_path, class:"nav-link list-group-item menu-item"%>
          <%= link_to "Portfolio",root_path, class:"nav-link list-group-item menu-item"%>
          <%= link_to "À Propos",root_path, class:"nav-link list-group-item menu-item"%>
          <%= link_to "Contact",root_path, class:"nav-link list-group-item menu-item"%>

        <%# MENU PROFIL / LOG OUT START %>
        <hr class="bottom">

        <li class="footer-menu list-inline ">
          <div class="d-flex justify-content-center">
            <a href="https://www.youtube.com/channel/UCvhSt-lF8srbLr7BgJxmcjA" target="_blank"><%= image_tag 'youtube.png', class: "social-icon"%></a>
            <a href="https://www.facebook.com/dibelairvideo/" target="_blank"><%= image_tag 'facebook.png', class: "social-icon"%></a>
            <a href="https://instagram.com/dibelairvideo?igshid=179vo6sdb0agu" target="_blank"><%= image_tag 'instagram.png', class: "social-icon"%></a>
            <a href="https://vm.tiktok.com/Je9eDDU/" target="_blank"><%= image_tag 'tik-tok.png', class: "social-icon"%></a>
          </div>
        </li>
        <%# MENU PROFIL / LOG OUT END %>
      </ul>
    </div>
  </div>
</div>
