  <div class="title-div">
    <div class="title-services">
      <h1>NOS SERVICES</h1>
    </div>
    <div class="sub-services">
      <p>Réalisation de clips musicaux, Captation de concerts, Fictions, Films d’entreprise, Vidéo événementielle…</p>
    </div>
  </div>
<section id="one" class="section-services">
  <div class="container-services">
    <div class="card-service">

      <div class="content-services">
        <div class="row">
          <div class="col-md-4 col-serve">
            <div class="icon-box wow fadeInLeft" data-wow-duration="1s">
              <%= image_tag('analys.png', class:"icon") %>
            </div>
            <div class="content wow fadeInLeft" data-wow-duration="1s">
              <h3>ANALYSE DE VOTRE PROJET</h3>
                <p>Nous vous réalisons un dossier complet avec idées, stratégie de communication et budget prévisionnel.</p>
              </div>
          </div>
          <div class="col-md-4 col-serve line">
            <div class="icon-box wow fadeInDown" data-wow-duration="1.5s">
              <%= image_tag('camera.png', class:"icon") %>
            </div>
            <div class="content wow fadeInDown" data-wow-duration="1.5s">
              <h3>TOURNAGE & PRISE DE VUE</h3>
              <p>Décor, lumière et matériel adapté à chaque situation(terrestre-aerienne-aquatique). </p>
            </div>
          </div>
          <div class="col-md-4 col-serve line">
            <div class="icon-box wow fadeInRight" data-wow-duration="1.5s">
              <%= image_tag('video.png', class:"icon") %>
            </div>
            <div class="content wow fadeInRight" data-wow-duration="1.5s">
              <h3>MONTAGE & POST-PRODUCTION</h3>
                <p>Un soin particulier est apporté à la post-production et au montage de votre vidéo pour mettre en valeur votre projet et vos idées créatives.</p>
            </div>
          </div>
          <div class="col-md-4 col-serve-btm">
            <div class="icon-box wow fadeInLeft" data-wow-duration="1.5s">
              <%= image_tag('music.png', class:"icon") %>
            </div>
            <div class="content wow fadeInLeft" data-wow-duration="1.5s">
              <h3>MUSIQUE & SON</h3>
              <p>La musique et le son permettent d’enrichir votre film et de communiquer efficacement votre message à votre audience.</p>
            </div>
          </div>
          <div class="col-md-4 col-serve-btm line">
            <div class="icon-box wow fadeInUp" data-wow-duration="1.5s">
              <%= image_tag('responsive.png', class:"icon") %>
            </div>
            <div class="content wow fadeInUp" data-wow-duration="1.5s">
              <h3>PUBLICATION & MEDIATISATION</h3>
              <p>Mise aux normes TV, stratégie média, formats adaptés aux réseaux sociaux, nous vous accompagnons jusqu’à la publication et l’exploitation de votre nouveau film.</p>
            </div>
          </div>
          <div class="col-md-4 col-serve-btm line">
            <div class="icon-box wow fadeInRight" data-wow-duration="1.5s">
              <%= image_tag('idea.png', class:"icon") %>
            </div>
            <div class="content wow fadeInRight" data-wow-duration="1.5s">
              <h3>CONSEILS & ACCOMPAGNEMENT</h3>
                <p>Selon vos besoins et votre budget, nous vous apportons notre expertise pour vos projets.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="ps">
        <p>Sur demande nous réalisons gratuitement un budget prévisionnel au plus proche de vos attentes.</p>
      </div>
    </div>
  </div>
</section>
