<section id="trust" class="section-trust">
  <div class="container-trust">
    <div class="head-trust">
      <div class="title-trust">
       <h3> Ils m'ont fait confiance </h3>
      </div>
      <div class="subt-trust">
        <p>Agences, PME ou grands groupes, voici quelques uns des clients avec qui <br> j'ai le plaisir de travailler.</p>
      </div>
    </div>
    <div class="logo-trust">
     <div class="customer-logos slider">
        <div class="slide">
          <%= image_tag('chanfb.png', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('toyb.png', class:"img") %>
        </div>
        <div class="slide">
         <%= image_tag('orgb.png', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('traceb.png', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('batirb.png', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('socomb.png', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('mrtb.png', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('granb.png', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('longb.png', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('sobb.png', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('ladiesb.png', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('recreb.png', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('harmonieb.png', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('Louisianeb.png', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('gossetb.png', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('sobb.png', class:"img") %>
        </div>
     </div>
    </div>
  </div>
</section>
