<!-- HEADER -->

<header>
  <section class="header-section">
    <div class="title-header">
      <h1>RÉALISATION VIDÉO & PRODUCTION AUDIOVISUELLE</h1>
    </div>
    <div class="title-brand">
      <h3>Dibel'air Video</h3>
    </div>
  </section>
</header>

<!-- SERVICES -->

<section class="section-services">
  <h1 class="title-services">SERVICES</h1>
  <div class="container">
    <div class="content-services">
      <div class="row">
        <div class="col-md-4">
          <div class="icon-box">
            <%= image_tag('icon1.png', class:"icon") %>
          </div>
          <div class="content">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores praesentium nulla consequatur adipisci vitae asperiores hic fugiat ipsum sequi ratione.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="icon-box">
            <%= image_tag('icon1.png', class:"icon") %>
          </div>
          <div class="content">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel error perspiciatis rem odio neque quasi deserunt, repellendus eius voluptatibus, cumque </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="icon-box">
            <%= image_tag('icon1.png', class:"icon") %>
          </div>
          <div class="content">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, rem voluptatum atque quo quae labore excepturi quisquam harum tempora. Earum quidem </p>
          </div>
        </div>
          <div class="col-md-4">
          <div class="icon-box">
            <%= image_tag('icon1.png', class:"icon") %>
          </div>
          <div class="content">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores praesentium nulla consequatur adipisci vitae asperiores hic fugiat ipsum sequi ratione.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="icon-box">
            <%= image_tag('icon1.png', class:"icon") %>
          </div>
          <div class="content">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel error perspiciatis rem odio neque quasi deserunt, repellendus eius voluptatibus, cumque </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="icon-box">
            <%= image_tag('icon1.png', class:"icon") %>
          </div>
          <div class="content">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, rem voluptatum atque quo quae labore excepturi quisquam harum tempora. Earum quidem </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ILS M'ONT FAIT CONFIANCE -->
<section class="section-trust">
  <div class="container-trust">
    <div class="title-trust">
     <h3> Ils m'ont fait confiance </h3>
    </div>
    <span></span>
    <div class="subt-trust">
      <p><em>Agences, PME ou grands groupes, voici quelques uns des clients avec qui j'ai le plaisir de travailler.</em></p>
    </div>
     <div class="customer-logos slider">
        <div class="slide">
          <%= image_tag('chanf.png', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('toy.png', class:"img") %>
        </div>
        <div class="slide">
         <%= image_tag('org.png', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('trace.png', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('batir.png', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('socom.png', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('mrt.png', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('gran.png', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('long.png', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('sob.png', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('ladies.png', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('recre.png', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('harmonie.jpg', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('Louisiane.jpg', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('gosset.jpg', class:"img") %>
        </div>
        <div class="slide">
          <%= image_tag('sob.png', class:"img") %>
        </div>
     </div>
  </div>
</section>

<!-- À PROPOS  -->

<section class="section-about">
  <h1 class="title-about">Dibel'air Vidéo</h1>
  <div class="container">
    <!-- Ajout photo + texte -->
    <div class="content-about">
      <p>Réalisatrice - vidéaste freelance, mais surtout passionnée de vidéo et de tout ce qui touche à l’image, je réalise depuis plusieurs années des vidéos aussi bien pour des entreprises, des particuliers, des professions libérales etc.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit unde, vero autem! Labore nemo ut, commodi cupiditate odio sequi deserunt quam, aliquid repudiandae nisi natus dolore quidem voluptate dolor dolorum?</p>
    </div>
  </div>
</section>


<!-- PORTFOLIO -->

<section class="section-folio">
  <h1 class="title-folio">PORTFOLIO</h1>
  <div class="container-folio">
    <div class="row gallery">
      <% @categories.each do |cat| %>
        <div class="col-lg-4 gallery-card">
          <div class="title-card">
            <h3><%= cat.name %></h3>
          </div>
          <%= image_tag cat.photo, class: "gallery-img" %>
        </div>
      <% end %>
    </div>
  </div>
</section>




<!-- CONTACT -->



<!-- <section class="section-contact">
<div class="title-contact">
  <h1>Contact</h1>
</div>
<div class="row contact-content">
  <div class="col-lg-12">
    <div class="row">

      <div class="col-lg-6 form-contact">

        <div class="row row-contact">
          <div class="col-lg-3 contact-item">
            name
          </div>
          <div class="col-lg-3 contact-item">
            email
          </div>
          <div class="col-lg-3 contact-item">
              objet
          </div>
        </div>

        <div class="row row-text">
          <div class="col-lg-3">
            text
          </div>
        </div>

      </div>
      <div class="col-lg-6 info-contact">
        <div class="num-contact">
          <p>08375947393</p>
        </div>
        <div class="email-contact">
          <p>dfghjk@dfghjk.com</p>
        </div>
      </div>
    </div>

  </div>
</div>
</section>

 -->




<!-- FOOTER -->

<footer id="footer">
  <div class="footer-icon">

</div>
</footer>
