<!-- HEADER -->

<header>
  <%= render 'shared/navbar' %>
  <section class="header-section">
    <div class="title-header">
      <h1>RÉALISATION VIDÉO & PRODUCTION AUDIOVISUELLE</h1>
    </div>
    <div class="title-brand">
      <h2>Dibel'air Video</h2>
    </div>
    <a href="#one">
      <div class="scroll-down"></div>
    </a>
  </section>
</header>

<!-- SERVICES -->

<%= render "shared/services" %>

<!-- PORTFOLIO -->

<%= render "shared/folio" %>

<!-- ILS M'ONT FAIT CONFIANCE -->

<%= render "shared/trust" %>

<!-- À PROPOS  -->

<%= render "shared/about" %>

<!-- CONTACT -->

<%= render "shared/contact" %>

<!-- FOOTER -->

<%= render "shared/footer" %>
