<!-- HEADER -->

<header>
  <section class="header-section">
  <h1 class="title-header">RÉALISATION VIDÉO & PRODUCTION AUDIOVISUELLE</h1>
  <div class="title-brand">
    <h3>Dibel'air Video</h3>
  </div>
  </section>
</header>

<!-- SERVICES -->

<section class="section-services">
  <h1 class="title-services">SERVICES</h1>
  <div class="container">
    <div class="content-services">
      <div class="row">
        <div class="col-md-4">
          <div class="icon-box">
            <%= image_tag('icon1.png', class:"icon") %>
          </div>
          <div class="content">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores praesentium nulla consequatur adipisci vitae asperiores hic fugiat ipsum sequi ratione.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="icon-box">
            <%= image_tag('icon1.png', class:"icon") %>
          </div>
          <div class="content">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel error perspiciatis rem odio neque quasi deserunt, repellendus eius voluptatibus, cumque </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="icon-box">
            <%= image_tag('icon1.png', class:"icon") %>
          </div>
          <div class="content">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, rem voluptatum atque quo quae labore excepturi quisquam harum tempora. Earum quidem </p>
          </div>
        </div>
          <div class="col-md-4">
          <div class="icon-box">
            <%= image_tag('icon1.png', class:"icon") %>
          </div>
          <div class="content">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores praesentium nulla consequatur adipisci vitae asperiores hic fugiat ipsum sequi ratione.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="icon-box">
            <%= image_tag('icon1.png', class:"icon") %>
          </div>
          <div class="content">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel error perspiciatis rem odio neque quasi deserunt, repellendus eius voluptatibus, cumque </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="icon-box">
            <%= image_tag('icon1.png', class:"icon") %>
          </div>
          <div class="content">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, rem voluptatum atque quo quae labore excepturi quisquam harum tempora. Earum quidem </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- À PROPOS  -->

<section class="section-about">
  <h1 class="title-about">Dibel'air Vidéo</h1>
  <div class="container">
    <!-- Ajout photo + texte -->
    <div class="content-about">
      <p>Réalisatrice - vidéaste freelance, mais surtout passionnée de vidéo et de tout ce qui touche à l’image, je réalise depuis plusieurs années des vidéos aussi bien pour des entreprises, des particuliers, des professions libérales etc.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit unde, vero autem! Labore nemo ut, commodi cupiditate odio sequi deserunt quam, aliquid repudiandae nisi natus dolore quidem voluptate dolor dolorum?</p>
    </div>
  </div>
</section>


<!-- PORTFOLIO -->




<!-- ILS M'ONT FAIT CONFIANCE -->







<!-- CONTACT -->
