<%= render "shared/navcat" %>
<!-- <div class="categorie"> -->
  <section id="movies" class="section-movies">
    <div class="categorie-title">
      <h1><%=@category.name %></h1>
    </div>
  <!-- </div> -->
  <div class="container-movie">

    <div class="card-movie">
      <div class="content-movie">
        <div class="row row-movie">
          <% @movies.each do |movie| %>
            <div class="col-md-12 col-movie">
              <iframe src= "<%= movie.yt_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <h3><%= movie.name %></h3>
             <%  if user_signed_in? && current_user.admin == true %>
                <%= link_to "Modifier", edit_admin_movie_path(movie.id)  %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render"shared/footer" %>
</section>



