<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dibel'air video, réalisation vidéo et production audiovisuelle</title>
    <%= favicon_link_tag asset_path('fav-logo.png') %>
    <meta name="description" content="Dibel’air vidéo est la société de production vidéo sur-mesure en Martinique et dans le monde entier. Réalisation de clips musicaux, Captation de concerts, Fictions, Films d’entreprise, Vidéo événementielle…">
    <meta name="keywords" content="Vidéo, vidéaste, videaste, drone, montage video, montage, réalisation, realisation video, clips musicaux, Captation de concerts, Fictions, Films d’entreprise, Vidéo événementielle">
    <meta name="copyright" content="Dibel’air Video" />
    <meta name="author" content="ROY-CAMILLE Alice" />


    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Dibel'air video, réalisation vidéo et production audiovisuelle">
    <meta property="og:type" content="website">

    <meta property="og:image:width" content="100%"/>
    <meta property="og:image:height" content="100%"/>
    <meta property="og:image" content="http://www.dibelair-video.com/assets/logocarnationcc-d98c24f9b069aacef4dca0aacb685be6164d04c53bbdca8c28b1cdcc037f978a.png">

    <meta property="og:description" content="Dibel’air vidéo est la société de production vidéo sur-mesure en Martinique et dans le monde entier. Réalisation de clips musicaux, Captation de concerts, Fictions, Films d’entreprise, Vidéo événementielle…">
    <meta property="og:url" content="http://www.dibelair-video.com/">
    <meta property="og:locale" content="fr_FR">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </body>
</html>
